.carousel-container {
  display: flex;
  position: relative;
  left: 70px;
  top: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  gap: 2rem;
  max-height: calc(150px * 2 + 3rem); /* Height for 2 rows plus space */
  overflow-y: auto; /* Scrollbar if there are more than 2 rows */
  width: 90%;
  padding: 10px;
}

.club-card {
  position: relative; /* Allows to position absolute elements within the card */
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally centers the content */
  justify-content: space-between; /* Distributes content vertically */
  padding: 5px; /* Internal spacing */
  width: 300px;
  height: 150px;
  border: none;
  background: var(--gradient_purple);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.2s; /* Ensures that no content leaves the edge */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.club-card:hover {
  background: var(--gradient_purple_hover);
  transform: scale(1.05);
}

.club-card svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensures that the SVG occupies the full width of the card */
  height: auto;
  z-index: 0; /* Sends the SVG behind the content */
}

.club-text,
.club-name-text,
.founded-by-text,
.founded-by-name-text {
  position: relative;
  z-index: 1; /* Ensures that the text is in front of the SVG */
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
}

.club-text {
  align-self: flex-start; /* Aligns to the left inside the container */
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.club-name-text {
  align-self: flex-start;
  color: white;
  font-size: 21px;
  font-weight: 600;
  margin-top: -10px;
}

.founded-by-text {
  align-self: flex-start;
  color: var(--deep_violet);
  font-size: 16px;
  font-weight: 500;
}

.founded-by-name-text {
  align-self: flex-start;
  color: rgba(0, 0, 0, 0.72);
  font-size: 16px;
  font-weight: 400;
}

.join-button {
  position: absolute;
  bottom: 10px; /* Bottom margin */
  right: 10px; /* Right margin */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 42px;
  background-color: #1804ff;
  border-radius: 5px;
  color: #fff;
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.lock-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
}

.check-icon {
  position: relative;
  width: 35px;
  height: 35px;
}
