.club-list-container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  padding: 6rem 2rem 2rem 2rem; /* Increase top padding for the search container */
  width: 100%;
  max-width: 70vw;
  margin: 0 auto;
  height: calc(100vh - 200px); /* Dynamic height based on the window */
  overflow-y: auto; /* Add vertical scroll */
  max-height: 35vh;
  top: 7vh;
}

.search-filter-container {
  position: absolute;
  top: 0;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 10;
  background-color: transparent;
  padding: 1rem;
  width: fit-content;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  margin-right: 1rem;
}

/* Styles for select */
.form-select {
  padding: 0.8rem;
  border-radius: 10px;
  border: 2px solid var(--main_color);
  background: white;
  min-width: 150px;
  height: 6vh;
  font-family: var(--font_family_primary);
  font-size: 10px;
  color: var(--main_color);
  cursor: pointer;
  appearance: none;
}

.form-select:hover {
  border-color: var(--main_color);
  box-shadow: 0 0 0 3px rgba(98, 0, 234, 0.1);
}

.form-select:focus {
  outline: none;
  border-color: var(--main_color);
  box-shadow: 0 0 0 3px rgba(98, 0, 234, 0.2);
}

/* Styles for the options */
.form-select option {
  font-family: var(--font_family_primary);
  font-size: 16px;
  color: var(--main_color);
  background-color: white;
}

.form-select option:checked {
  background: linear-gradient(
    90deg,
    rgba(217, 0, 208, 0.89) 0%,
    rgba(100, 8, 156, 0.89) 98.61%
  );
  color: white;
}

.form-select option:hover {
  background-color: rgba(98, 0, 234, 0.1);
}

/* Styles for multiple select */
.form-select[multiple] {
  padding: 0;
  overflow: hidden;
}

.form-select[multiple] option {
  border-bottom: 1px solid rgba(98, 0, 234, 0.1);
}

.form-select[multiple] option:last-child {
  border-bottom: none;
}

.input {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

.form-control {
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  width: 300px;
  height: auto;
  border-radius: 5px;
  border: none;
  font-family: var(--font_family_primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #e8e8e8;
}

.club-card {
  width: 100%;
  height: 150px;
  margin: 0; /* Eliminate margins that can affect the grid */
  position: relative; /* Allows to position absolute elements within the card */
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally centers the content */
  justify-content: space-between; /* Distributes content vertically */
  padding: 5px; /* Internal spacing */
  border: none;
  background: var(--gradient_purple);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.2s; /* Ensures that no content leaves the edge */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.club-card:hover {
  background: var(--gradient_purple_hover);
  transform: scale(1.05);
}

.club-card svg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Sends the SVG behind the content */
}

.club-text,
.club-name-text,
.founded-by-text,
.founded-by-name-text {
  position: relative;
  z-index: 1; /* Ensures that the text is in front of the SVG */
  margin: 0;
  padding: 0;
  font-family: var(--font_family_primary);
}

.club-text {
  align-self: flex-start; /* Aligns to the left inside the container */
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.club-name-text {
  align-self: flex-start;
  color: white;
  font-size: 21px;
  font-weight: 600;
  margin-top: -10px;
}

.founded-by-text {
  align-self: flex-start;
  color: var(--deep_violet);
  font-size: 16px;
  font-weight: 500;
}

.founded-by-name-text {
  align-self: flex-start;
  color: rgba(0, 0, 0, 0.72);
  font-size: 16px;
  font-weight: 400;
}

.join-button {
  position: absolute;
  bottom: 10px; /* Bottom margin */
  right: 10px; /* Right margin */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 42px;
  background-color: #1804ff;
  border-radius: 5px;
  color: #fff;
  font-family: var(--font_family_primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.lock-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
}

.check-icon {
  position: relative;
  width: 35px;
  height: 35px;
}

/* Adjust the carousel container */
.carousel-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
}

.club-list-container::-webkit-scrollbar {
  width: 8px;
}

.club-list-container::-webkit-scrollbar-track {
  background: transparent;
}

.club-list-container::-webkit-scrollbar-thumb {
  background-color: var(--main_color);
  border-radius: 4px;
}
