<div class="carousel-container">
  <button
    class="club-card"
    *ngFor="let club of clubs"
    (click)="clubRequest(club.id_club, club.is_private)"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="280"
      height="79"
      viewBox="0 0 280 79"
    >
      <path
        d="M238.204 69.5C204.448 81.631 22 82 0 69.5V0H280C269.929 35 270.204 58 238.204 69.5Z"
        fill="var(--blue)"
      />
    </svg>
    <p class="club-text">Club</p>
    <img
      [src]="
        club.is_private
          ? '/assets/ico/ic-lock.png'
          : '/assets/ico/ic-lock-open.png'
      "
      alt="Lock Icon"
      class="lock-icon"
    />
    <p class="club-name-text">{{ club.club_name }}</p>
    <p class="founded-by-text" style="color: var(--blue)">Código</p>
    <p class="founded-by-name-text">{{ club.club_code }}</p>
    <div class="join-button">
      <img
        *ngIf="club.is_academic"
        src="/assets/ico/ic-check.png"
        alt="Check Icon"
        class="check-icon"
      />
      Unirte
    </div>
  </button>
  <app-executed-process-dialog
    *ngIf="showDialog"
    [message]="dialogMessage"
    [actionText]="dialogActionText"
    (close)="closeDialog()"
  ></app-executed-process-dialog>
</div>
