<section class="login-page">
  <div class="login-container">
    <div class="login-image-column">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/408460a794e9064310e74a120b4a15f17b0c297a0bbe0177020bc5012d6fa1c3?placeholderIfAbsent=true&apiKey=0f5b1658d860479ca16ec7be0276f12a"
        alt=""
        class="login-image"
      />
    </div>
    <div class="login-form-column">
      <div class="login-form-wrapper">
        <h1 class="login-logo">Noesis</h1>
        <form class="login-form">
          <h2 class="login-title">Ingrese</h2>
          <div class="login-fields">
            <div class="login-field">
              <label for="email" class="visually-hidden"
                >Email o username</label
              >
              <div class="login-field-wrapper">
                <input type="text" id="email" placeholder="Email o username" />
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/d9bff27c20784c73f5c302a3b728b6083db8c7f08921b85bf32a36144841eec2?placeholderIfAbsent=true&apiKey=0f5b1658d860479ca16ec7be0276f12a"
                  alt=""
                  class="login-field-icon"
                />
              </div>
              <div class="login-field-line"></div>
            </div>
            <div class="login-field">
              <label for="password" class="visually-hidden">Contraseña</label>
              <div class="login-field-wrapper">
                <input type="password" id="password" placeholder="Contraseña" />
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/49889e4e6313bc8df431a45d9ca0635576045e61f91af6598e95e8873235532b?placeholderIfAbsent=true&apiKey=0f5b1658d860479ca16ec7be0276f12a"
                  alt=""
                  class="login-field-icon"
                />
              </div>
              <div class="login-field-line"></div>
            </div>
          </div>
          <button type="submit" class="login-button">Ingrese</button>
        </form>
      </div>
    </div>
  </div>
</section>
