<section class="login-section">
  <div
    class="background-container"
    style="
      background: url('/assets/images/img-login-register-bg.png') lightgray -250px /
        177.453% 100% no-repeat;
    "
  ></div>
  <p class="noesis-text-logo" style="right: 360px">Noesis</p>
  <div class="login-container">
    <!-- Form Container -->
    <div class="form-wrapper">
      <p class="login-text">Ingrese</p>
      <form class="login-form">
        <div class="input-group">
          <input type="text" placeholder="Usuario" />
          <img
            src="/assets/icons/ic-profile-filled.png"
            class="icon"
            alt="Ícono Usuario"
          />
        </div>
        <div class="input-group">
          <input type="password" placeholder="Contraseña" />
          <img
            src="/assets/icons/ic-hidden-password-filled.png"
            class="icon"
            alt="Ícono Contraseña"
          />
        </div>
        <button type="submit" class="submit-btn">Ingrese</button>
      </form>
    </div>
  </div>
</section>
