<section class="login-section">
  <div
    class="background-container"
    style="
      background: url('/assets/img/login-bg.png') lightgray -250px / 177.453% 100%
        no-repeat;
    "
  ></div>
  <p class="noesis-text-logo" style="right: 360px">Noesis</p>
  <div class="login-container">
    <!-- Form Container -->
    <div class="form-wrapper">
      <p class="login-text">Ingrese</p>
      <form class="login-form">
        <div class="input-group">
          <input
            id="username"
            name="username"
            type="text"
            required
            placeholder="Usuario"
          />
          <img
            src="/assets/ico/ic-profile-filled.png"
            class="icon"
            alt="Ícono Usuario"
          />
        </div>
        <div class="input-group">
          <input
            id="password"
            name="password"
            type="password"
            required
            placeholder="Contraseña"
          />
          <img
            src="/assets/ico/ic-hidden-password-filled.png"
            class="icon"
            alt="Ícono Contraseña"
          />
        </div>
        <button type="submit" class="submit-btn">Ingrese</button>
      </form>
    </div>
  </div>
</section>
