.user-info {
  margin-left: 20px;
}

.username {
  color: var(--main_color);
  font-family: var(--font_family_primary);
  font-size: 27.65px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 5px;
}

.quote {
  color: var(--gray_dark);
  font-family: var(--font_family_primary);
  font-size: 23.04px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.progress-title {
  color: var(--main_color);
  font-family: var(--font_family_primary);
  font-size: 27.65px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 20px 0 16px 20px;
}

.score-section {
  background-color: #fff;
  padding: 20px;
  width: 70vw;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-left: 8vw;
  height: auto;
}

.centered-title {
  color: black;
  font-family: var(--font_family_primary);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px 0;
}

.score {
  color: var(--main_color);
  font-family: var(--font_family_primary);
  font-size: 33.18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.info-group {
  margin-bottom: 15px;
}

.info-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
  font-family: var(--font_family_primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.info-group input {
  color: var(--gray_dark);
  font-family: var(--font_family_primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
