<div class="purple-container" style="overflow-y: auto">
  <!-- User Information -->
  <div class="user-info">
    <h2 class="username">Bienvenido Usuario</h2>
    <p class="quote">
      "Aquí comienzan tus grandes logros como lector: ¡el siguiente está a tu
      alcance!"
    </p>
  </div>

  <!-- Title: Progress -->
  <h3 class="progress-title">Progreso</h3>

  <!-- Progress Section -->
  <div class="score-section">
    <h4 class="centered-title">Puntaje Global</h4>
    <p class="score">{{ globalScore }} pts</p>
    <app-medal-list [isUserProfile]="true" [medals]="medals"></app-medal-list>
  </div>

  <h3 class="progress-title">Información Personal</h3>

  <!-- Personal Information -->
  <div class="score-section">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="info-group">
        <label>Nombre completo:</label>
        <input
          formControlName="fullName"
          type="text"
          placeholder="Vacío"
          [value]="fullName"
        />
        <p
          *ngIf="
            profileForm.get('fullName')?.invalid &&
            (profileForm.get('fullName')?.dirty ||
              profileForm.get('fullName')?.touched)
          "
          class="error-text"
        >
          <span *ngIf="profileForm.get('fullName')?.errors?.['required']"
            >Campo obligatorio o debe ser modificado.
          </span>
          <span *ngIf="profileForm.get('fullName')?.errors?.['alphabetic']"
            >Debe contener solo letras. Evite espacios al inicio, final y
            seguidos. Evite caracteres especiales.
          </span>
        </p>
      </div>

      <div class="info-group">
        <label for="career">Carrera:</label>
        <select
          formControlName="careerName"
          class="form-select"
          id="career"
          name="career"
        >
          <option value="" disabled selected>{{ career_name }}</option>
          <option *ngFor="let career of careers" [value]="career.id_career">
            {{ career.career_name }}
          </option>
        </select>
      </div>
      <div class="info-group">
        <label>Semestre:</label>
        <input
          formControlName="semester"
          type="text"
          placeholder="Vacio"
          [value]="semester"
        />
        <p
          *ngIf="
            profileForm.get('semester')?.invalid &&
            (profileForm.get('semester')?.dirty ||
              profileForm.get('semester')?.touched)
          "
          class="error-text"
        >
          <span *ngIf="profileForm.get('semester')?.errors?.['required']"
            >Campo obligatorio o debe ser modificado.
          </span>
          <span *ngIf="profileForm.get('semester')?.errors?.['semesterNumeric']"
            >Debe contener solo números. Máximo dos dígitos.
          </span>
        </p>
      </div>

      <div class="info-group">
        <label>Celular:</label>
        <input
          formControlName="phoneNumber"
          type="text"
          placeholder="Vacio"
          [value]="phoneNumber"
        />
        <p
          *ngIf="
            profileForm.get('phoneNumber')?.invalid &&
            (profileForm.get('phoneNumber')?.dirty ||
              profileForm.get('phoneNumber')?.touched)
          "
          class="error-text"
        >
          <span *ngIf="profileForm.get('phoneNumber')?.errors?.['required']"
            >Campo obligatorio o debe ser modificado.
          </span>
          <span *ngIf="profileForm.get('phoneNumber')?.errors?.['phoneNumeric']"
            >Debe contener solo números.
          </span>
        </p>
      </div>
      <div class="info-group">
        <label for="sex">Sexo:</label>
        <select formControlName="sex" class="form-select" id="sex" name="sex">
          <option value="" disabled selected>{{ sex }}</option>
          <option *ngFor="let sex of sexs" [value]="sex.id_sex">
            {{ sex.sex_name }}
          </option>
        </select>
      </div>
      <div class="info-group">
        <button
          type="submit"
          class="save-button"
          [disabled]="profileForm.invalid || isSubmitting"
        >
          Guardar
          <img
            src="/assets/ico/ic-save.webp"
            alt="Save Quiz Icon"
            class="icon"
          />
        </button>
      </div>
    </form>
  </div>
</div>

<app-executed-process-dialog
  *ngIf="showDialog"
  [message]="dialogMessage"
  [actionText]="dialogActionText"
  (close)="closeDialog()"
></app-executed-process-dialog>
