<div class="purple-container" style="overflow-y: auto">
  <!-- User Information -->
  <div class="user-info">
    <h2 class="username">Bienvenido Usuario</h2>
    <p class="quote">
      "Aquí comienzan tus grandes logros como lector: ¡el siguiente está a tu
      alcance!"
    </p>
  </div>

  <!-- Title: Progress -->
  <h3 class="progress-title">Progreso</h3>

  <!-- Progress Section -->
  <div class="score-section">
    <h4 class="centered-title">Puntaje Global</h4>
    <p class="score">0 pts</p>
    <app-medal-list [isUserProfile]="true" [medals]="medals"></app-medal-list>
  </div>

  <h3 class="progress-title">Información Personal</h3>

  <!-- Personal Information -->
  <div class="score-section">
    <form>
      <div class="info-group">
        <label>Nombre completo:</label>
        <input type="text" placeholder="Próximamente" />
      </div>
      <div class="info-group">
        <label>Carrera:</label>
        <input type="text" placeholder="Próximamente" />
      </div>
      <div class="info-group">
        <label>Semestre:</label>
        <input type="text" placeholder="Próximamente" />
      </div>
      <div class="info-group">
        <label>Celular:</label>
        <input type="text" placeholder="Próximamente" />
      </div>
    </form>
  </div>
</div>

<app-executed-process-dialog
  *ngIf="showDialog"
  [message]="dialogMessage"
  [actionText]="dialogActionText"
  (close)="closeDialog()"
></app-executed-process-dialog>
