<div class="main-container">
  <h4 class="centered-title">Medallas</h4>
  <div class="medals-carousel">
    <ng-container *ngIf="medals.length > 0; else noMedals">
      <div
        *ngFor="let medal of medals"
        class="medal"
        [ngStyle]="{
          'background-color': getBackgroundColor(medal.medal_q_name)
        }"
      >
        <div *ngIf="isUserProfile" class="medal-circle">
          {{ medal.quantity }}
        </div>
        <img
          src="./assets/ico/ic-medal.webp"
          class="medal-icon"
          alt="Medal Icon"
        />
        <p class="medal-text">{{ medal.medal_type_name }}</p>
      </div>
    </ng-container>
    <ng-template #noMedals>
      <div class="no-medals-text">
        "Tu próxima medalla está a un quiz de distancia." 🚀
      </div>
    </ng-template>
  </div>
</div>
