<div class="dialog-overlay">
  <div class="dialog-content" style="max-width: 400px">
    <h2>Crear club</h2>
    <form
      [formGroup]="createClubForm"
      (ngSubmit)="onSubmit()"
      class="form-container"
      style="flex-direction: column; align-items: center"
    >
      <div class="form-field">
        <label>
          <input type="checkbox" formControlName="isAcademic" />
          Es académico
        </label>
      </div>
      <div class="form-field">
        <input
          formControlName="clubName"
          type="text"
          placeholder="Nombre del club"
        />
        <p
          *ngIf="
            createClubForm.get('clubName')?.invalid &&
            createClubForm.get('clubName')?.touched
          "
          class="error-text"
        >
          Campo obligatorio
        </p>
      </div>
      <div class="form-field radio-group">
        <label>
          <input type="radio" formControlName="clubType" value="Público" />
          Público
        </label>
        <label>
          <input type="radio" formControlName="clubType" value="Privado" />
          Privado
        </label>
      </div>
      <div class="actions">
        <button type="button" class="cancel-button" (click)="onClose()">
          Cancelar
        </button>
        <button
          type="submit"
          class="confirm-button"
          [disabled]="!isFormValid() || isSubmitting"
        >
          {{ isSubmitting ? "Creando..." : "Crear" }}
        </button>
      </div>
    </form>
  </div>
</div>
<app-executed-process-dialog
  *ngIf="showDialog"
  [message]="dialogMessage"
  [actionText]="dialogActionText"
  (close)="closeExecutedProcessDialog()"
></app-executed-process-dialog>
