<div class="quiz-container">
  <div class="main-content">
    <div class="header">
      <div class="quiz-info">
        <div class="quiz-title">Quiz <span></span></div>
        <div *ngIf="role === 'Member' && !showStats" class="timer">
          {{ timeRemaining }}
        </div>
      </div>
      <button
        *ngIf="role === 'Member' && !showStats"
        (click)="submitQuiz()"
        class="submit-button"
      >
        Enviar
        <img
          src="/assets/ico/ic-finish-quiz.webp"
          alt="Finish Quiz Icon"
          class="icon"
        />
      </button>
      <button
        *ngIf="role === 'Founder' && !showStats"
        (click)="regenerateQuiz()"
        class="regenerate-button"
      >
        Regenerar
        <img
          src="/assets/ico/ic-ai.webp"
          alt="Regenerate Quiz Icon"
          class="icon"
        />
      </button>
      <button
        *ngIf="role === 'Founder' && !isEditing"
        (click)="toggleEdit()"
        class="edit-button"
      >
        Editar
        <img src="/assets/ico/ic-edit.webp" alt="Edit Quiz Icon" class="icon" />
      </button>
      <button
        *ngIf="role === 'Founder' && isEditing"
        (click)="saveChanges()"
        class="save-button"
      >
        Guardar
        <img src="/assets/ico/ic-save.webp" alt="Save Quiz Icon" class="icon" />
      </button>
    </div>

    <div class="questions-container">
      <div
        class="question-card"
        *ngFor="let question of questions; let i = index"
      >
        <p *ngIf="!isEditing">{{ i + 1 }}. {{ question.title }}</p>
        <input
          *ngIf="isEditing"
          [(ngModel)]="question.title"
          class="question-input"
        />

        <div
          *ngFor="let option of question.options; let j = index"
          class="option"
          [ngClass]="{
            correct: showStats && option.isCorrect,
            incorrect: showStats && option.isSelected && !option.isCorrect
          }"
        >
          <input
            type="radio"
            [name]="'question-' + i"
            [checked]="option.isSelected"
            [disabled]="!isEditing && showStats"
            (change)="selectOption(i, j)"
            [ngClass]="{
              'correct-radio': showStats && option.isCorrect,
              'incorrect-radio':
                showStats && option.isSelected && !option.isCorrect
            }"
          />
          <input
            *ngIf="isEditing && role === 'Founder'"
            [(ngModel)]="option.text"
            class="option-input"
          />
          <span *ngIf="!isEditing || role === 'Member'">{{ option.text }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <div class="club-info">
      <div class="club-label">Club</div>
      <div class="club-name">Literatura</div>
    </div>

    <div *ngIf="showStats" class="stats">
      <div class="stat-item">
        <div>Tu puntuación:</div>
        <div class="stat-value">{{ score }} pts</div>
      </div>
      <div class="stat-item">
        <div>Preguntas correctas:</div>
        <div class="stat-value">
          {{ correctAnswers }}/{{ questions.length }}
        </div>
      </div>
      <div class="stat-item">
        <div>Tiempo:</div>
        <div class="stat-value">{{ timeUsed }} seg</div>
      </div>
    </div>
  </div>
</div>
<app-executed-process-dialog
  *ngIf="showDialog"
  [message]="dialogMessage"
  [actionText]="dialogActionText"
  (close)="closeDialog()"
></app-executed-process-dialog>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
