<section class="default-section">
  <div class="nav-bar-container">
    <nav *ngIf="shouldDisplayNavBar()">
      <p
        class="noesis-text-logo"
        style="
          position: relative;
          top: -60px;
          left: 30px;
          color: var(--main_color);
          margin-bottom: -50px;
        "
      >
        <a href="/clubs"> Noesis </a>
      </p>
      <ul>
        <li
          class="clubs"
          [class.active]="
            isActive([
              '/clubs',
              '/clubs/resources',
              '/clubs/resources/detail',
              '/clubs/resources/detail/quiz'
            ])
          "
        >
          <a [routerLink]="['/clubs']">
            <img src="/assets/ico/ic-clubs.png" alt="Clubs Icon" class="icon" />
            &nbsp;&nbsp;Clubes
          </a>
        </li>
        <li
          class="explore"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/explore']">
            <img
              src="/assets/ico/ic-explore.png"
              alt="Explore Icon"
              class="icon"
            />
            &nbsp;Explorar
          </a>
        </li>
        <li
          class="profile"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/profile']">
            <img
              src="/assets/ico/ic-profile.png"
              alt="Profile Icon"
              class="icon"
            />
            &nbsp;&nbsp;Perfil
          </a>
        </li>
        <li
          class="logout"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="logout()"
        >
          <a>
            <img
              src="/assets/ico/ic-logout.png"
              alt="Logout Icon"
              class="icon"
            />
            &nbsp;&nbsp;Salir
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <app-executed-process-dialog
    *ngIf="showDialog"
    [message]="dialogMessage"
    [actionText]="dialogActionText"
    (close)="closeDialog()"
  >
  </app-executed-process-dialog>
</section>
