<section class="default-section">
  <div class="nav-bar-container">
    <nav *ngIf="shouldDisplayNavBar()">
      <p
        class="noesis-text-logo"
        style="
          position: relative;
          top: -60px;
          left: 30px;
          color: var(--main_color);
          margin-bottom: -50px;
        "
      >
        <a href="/clubs"> Noesis </a>
      </p>
      <ul>
        <li
          class="menu-item clubs"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/clubs']">
            <img src="/assets/ico/ic-clubs.png" alt="Clubs Icon" class="icon" />
            &nbsp;&nbsp;Clubs
          </a>
        </li>
        <li
          class="menu-item explore"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/explore']">
            <img
              src="/assets/ico/ic-explore.png"
              alt="Explore Icon"
              class="icon"
            />
            &nbsp;Explorar
          </a>
        </li>
        <li
          class="menu-item profile"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/profile']">
            <img
              src="/assets/ico/ic-profile.png"
              alt="Profile Icon"
              class="icon"
            />
            &nbsp;&nbsp;Perfil
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
