.nav-bar-container {
  position: absolute;
  top: 0;
  width: 12%;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 35px;
  height: 35px;
  transition: 0.3s ease;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  background-color: white;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--gray_dark);
  font-family: var(--font-family-primary);
  font-size: 23.04px;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
}

/* Clubs Item */
li.clubs .icon {
  content: url("/assets/ico/ic-clubs.webp");
}

li.clubs:hover .icon,
li.clubs.active .icon {
  content: url("/assets/ico/ic-clubs-filled.webp");
}

/* Explore Item */
li.explore .icon {
  content: url("/assets/ico/ic-explore.webp");
}

li.explore:hover .icon,
li.explore.active .icon {
  content: url("/assets/ico/ic-explore-filled.webp");
}

/* Profile Item */
li.profile .icon {
  content: url("/assets/ico/ic-profile.webp");
}

li.profile:hover .icon,
li.profile.active .icon {
  content: url("/assets/ico/ic-profile-filled.webp");
}

li.logout:hover .icon,
li.logout.active .icon {
  content: url("/assets/ico/ic-logout.webp");
}

li.logout:hover .icon,
li.logout.active .icon {
  content: url("/assets/ico/ic-logout-filled.webp");
}

li.clubs.active .icon {
  content: url("/assets/ico/ic-clubs-filled.webp");
}

li.explore.active .icon {
  content: url("/assets/ico/ic-explore-filled.webp");
}

li.profile.active .icon {
  content: url("/assets/ico/ic-profile-filled.webp");
}

li.logout.active .icon {
  content: url("/assets/ico/ic-logout-filled.webp");
}

/* Hover and Active States */
li.clubs:hover,
li.explore:hover,
li.profile:hover,
li.clubs.active,
li.explore.active,
li.profile.active {
  color: var(--main_color);
  background-color: var(--gradient_purple);
}

li.logout:hover,
li.logout.active {
  color: black;
  background-color: var(--transparent_red);
}

/* Apply a filter or change icon styles when active */
li.active .icon {
  filter: brightness(1.2);
}
