<section class="signup-section">
  <div class="background-container"></div>
  <p class="noesis-text-logo" style="right: 380px">
    <a [routerLink]="['/']">Noesis</a>
  </p>
  <div class="signup-container">
    <!-- Form Container -->
    <div class="form-wrapper">
      <p class="signup-text">Regístrese</p>
      <form
        [formGroup]="signupForm"
        (ngSubmit)="onSubmit()"
        class="signup-form"
      >
        <div class="input-group">
          <input formControlName="username" type="text" placeholder="Usuario" />
          <img
            src="/assets/ico/ic-profile-filled.png"
            class="icon"
            alt="Icono Usuario"
          />
          <p
            *ngIf="
              signupForm.get('username')?.invalid &&
              signupForm.get('username')?.touched
            "
            class="error-text"
          >
            Campo obligatorio
          </p>
        </div>
        <div class="input-group">
          <input
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Contraseña"
          />
          <img
            [src]="
              showPassword
                ? '/assets/ico/ic-show-password-filled.png'
                : '/assets/ico/ic-hidden-password-filled.png'
            "
            class="icon"
            style="cursor: pointer"
            alt="Icono Contraseña"
            (click)="togglePasswordVisibility()"
          />
          <!-- Error de longitud mínima -->
          <p
            *ngIf="signupForm.get('password')?.errors?.['minLength'] && signupForm.get('password')?.touched"
            class="error-text"
          >
            Campo obligatorio con al menos 6 caracteres
          </p>
          <!-- Error de coincidencia -->
          <p
            *ngIf="signupForm.get('password')?.errors?.['mismatch'] && signupForm.get('password')?.touched"
            class="error-text"
          >
            Las contraseñas deben coincidir
          </p>
        </div>
        <div class="input-group">
          <input
            formControlName="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="Confirmar Contraseña"
          />
          <img
            [src]="
              showConfirmPassword
                ? '/assets/ico/ic-show-password-filled.png'
                : '/assets/ico/ic-hidden-password-filled.png'
            "
            class="icon"
            style="cursor: pointer"
            alt="Icono Confirmar Contraseña"
            (click)="toggleConfirmPasswordVisibility()"
          />
          <!-- Error de longitud mínima -->
          <p
            *ngIf="signupForm.get('confirmPassword')?.errors?.['minLength'] && signupForm.get('confirmPassword')?.touched"
            class="error-text"
          >
            Campo obligatorio con al menos 6 caracteres
          </p>
          <!-- Error de coincidencia -->
          <p
            *ngIf="signupForm.get('confirmPassword')?.errors?.['mismatch'] && signupForm.get('confirmPassword')?.touched"
            class="error-text"
          >
            Las contraseñas deben coincidir
          </p>
        </div>

        <!-- The button is enabled only when the form is valid -->
        <button
          type="submit"
          class="submit-btn"
          [disabled]="signupForm.invalid"
        >
          Regístrese
        </button>
        <p class="auth-link">
          ¿Ya tienes una cuenta?
          <a [routerLink]="['/login']">Ingresa</a>
        </p>
      </form>
    </div>
  </div>
  <!-- Dialog Component -->
  <app-executed-process-dialog
    *ngIf="showDialog"
    [message]="dialogMessage"
    [actionText]="dialogActionText"
    (close)="closeDialog()"
  >
  </app-executed-process-dialog>
</section>
