<section class="signup-section">
  <div
    class="background-container"
    style="
      background: url('/assets/images/img-signup-bg.png') lightgray -250px / 177.453%
        100% no-repeat;
    "
  ></div>
  <p class="noesis-text-logo" style="right: 380px">Noesis</p>
  <div class="signup-container">
    <!-- Form Container -->
    <div class="form-wrapper">
      <p class="signup-text">Regístrese</p>
      <form class="signup-form">
        <div class="input-group">
          <input
            id="username"
            name="username"
            type="text"
            required
            placeholder="Usuario"
          />
          <img
            src="/assets/icons/ic-profile-filled.png"
            class="icon"
            alt="Icono Usuario"
          />
        </div>
        <div class="input-group">
          <input
            id="password"
            name="password"
            type="password"
            required
            placeholder="Contraseña"
          />
          <img
            src="/assets/icons/ic-hidden-password-filled.png"
            class="icon"
            alt="Icono Contraseña"
          />
        </div>
        <div class="input-group">
          <input
            id="confirm-password"
            name="confirm-password"
            type="password"
            required
            placeholder="Confirmar Contraseña"
          />
          <img
            src="/assets/icons/ic-hidden-password-filled.png"
            class="icon"
            alt="Icono Contraseña"
          />
        </div>
        <button type="submit" class="submit-btn">Regístrese</button>
      </form>
    </div>
  </div>
</section>
