.club-list-container {
  display: flex;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 1500px;
  display: flex;
  transition: transform 0.3s ease-in-out;
  gap: 2rem;
  padding: 10px;
  align-items: center;
}

.carousel-button {
  position: relative;
  margin-inline: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 150px;
  background-color: var(--main_color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.carousel-button .icon {
  width: 30px;
  height: 30px;
}

.carousel-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.carousel-button:not(:disabled):hover {
  background-color: #7c4dff;
  transform: scale(1.05);
}

.club-card {
  position: relative; /* Allows to position absolute elements within the card */
  display: flex;
  flex-direction: column;
  align-items: left; /* Horizontally centers the content */
  justify-content: space-between; /* Distributes content vertically */
  padding: 5px; /* Internal spacing */
  width: 280px;
  height: 150px;
  border: none;
  background: var(--gradient_purple);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s, transform 0.2s; /* Ensures that no content leaves the edge */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.club-card:hover {
  background: var(--gradient_purple_hover);
  transform: scale(1.05);
}

.club-card svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensures that the SVG occupies the full width of the card */
  height: auto;
  z-index: 0; /* Sends the SVG behind the content */
}

.club-text {
  position: absolute;
  color: white;
  margin-top: 5px;
  margin-left: 10px;

  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.club-name-text {
  position: absolute;
  color: white;
  margin-top: 35px;
  margin-left: 10px;

  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.founded-by-text {
  position: absolute;
  color: var(--deep_violet);
  margin-top: 85px;
  margin-left: 10px;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.founded-by-name-text {
  position: absolute;
  color: rgba(0, 0, 0, 0.72);
  margin-top: 110px;
  margin-left: 10px;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.motivational-phrase {
  width: 100%;
  font-size: 3.5em;
  font-weight: 500;
  color: #cccccc;
  text-align: center;
  font-family: "Lobster Two", cursive;
}

.lock-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
}

.check-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
}
