<div class="club-list-container">
  <div class="row">
    <div class="col">
      <select class="from-select" [(ngModel)]="properties" multiple>
        <option value="club_code">Codigo</option>
        <option value="club_name">Nombre</option>
      </select>
    </div>
  </div>
  <div class="input">
    <img
      src="assets/ico/ic-search.webp"
      alt="Search Icon"
      class="search-icon"
    />
    <input id="search" [(ngModel)]="filterProperty" class="form-control" name="filter" type="text" placeholder="Buscar club" />
  </div>
  <!-- Back button -->
  <button
    class="carousel-button prev-button"
    [style.top]="top"
    (click)="scrollLeft()"
    [disabled]="currentStartIndex === 0"
  >
    <img
      src="assets/ico/ic-back-minimal.webp"
      alt="Back Arrow Icon"
      class="icon"
    />
  </button>

  <!-- Carousel -->
  <div class="carousel-container" [style.top]="top">
    <ng-container *ngIf="clubs.length > 0; else noClubs">
      <button
        class="club-card"
        *ngFor="let club of visibleClubs | filter: filterProperty: properties"
        (click)="getTokenClub(club.id_club)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="280"
          height="79"
          viewBox="0 0 280 79"
        >
          <path
            d="M238.204 69.5C204.448 81.631 22 82 0 69.5V0H280C269.929 35 270.204 58 238.204 69.5Z"
            [attr.fill]="color"
          />
        </svg>
        <p class="club-text">Club</p>
        <img
          [src]="
            club.is_private
              ? '/assets/ico/ic-lock.webp'
              : '/assets/ico/ic-lock-open.webp'
          "
          alt="Lock Icon"
          class="lock-icon"
        />
        <p class="club-name-text">{{ club.club_name }}</p>
        <p class="founded-by-text" [style.color]="color">Código</p>
        <p class="founded-by-name-text">{{ club.club_code }}</p>
        <img
          *ngIf="isFounder && club.is_academic"
          src="/assets/ico/ic-check-pink.webp"
          alt="Pink Check Icon"
          class="check-icon"
        />
        <img
          *ngIf="!isFounder && club.is_academic"
          src="/assets/ico/ic-check-blue.webp"
          alt="Blue Check Icon"
          class="check-icon"
        />
      </button>
    </ng-container>
    <ng-template #noClubs>
      <div class="motivational-phrase">
        {{ randomPhrase }}
      </div>
    </ng-template>
  </div>

  <!-- Forward button -->
  <button
    class="carousel-button next-button"
    [style.top]="top"
    (click)="scrollRight()"
    [disabled]="currentStartIndex + clubsPerPage >= clubs.length"
  >
    <img
      src="assets/ico/ic-forward-minimal.webp"
      alt="Forward Arrow Icon"
      class="icon"
    />
  </button>
</div>
<app-executed-process-dialog
  *ngIf="showDialog"
  [message]="dialogMessage"
  [actionText]="dialogActionText"
  (closeDialog)="closeDialog()"
></app-executed-process-dialog>
