<section class="welcome-section">
  <div
    class="background-container"
    style="
      background: url('/assets/img/welcome-bg.png') lightgray 50% / cover
        no-repeat;
    "
  >
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="521"
        height="181"
        viewBox="0 0 521 181"
        fill="none"
      >
        <path
          d="M288.298 137.068C109.514 214.822 21.6062 169.465 0 137.068V0H520C517.259 13.2914 467.081 59.3129 288.298 137.068Z"
          class="vector-path"
        />
      </svg>
    </div>
    <div class="vector-2-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100%"
        height="100%"
        viewBox="0 0 1280 474"
        preserveAspectRatio="none"
        fill="none"
      >
        <path
          d="M414.5 306.5C194.5 317.5 189.5 346.5 90.5 306.5L40.5 263.5L0 206.631V474H1280V0C1267.85 62.7236 1186.45 191.863 958.003 206.631C729.56 221.398 517.5 279 414.5 306.5Z"
          class="vector-path"
        />
      </svg>
    </div>
    <p class="noesis-text-logo" style="top: -10px; left: 50px">Noesis</p>
    <p class="title-text">
      Desafía tu <br />
      comprensión!
    </p>
    <button class="join-button" [routerLink]="['/signup']">
      Únete a un club ahora!
    </button>
    <button class="login-button" [routerLink]="['/login']">Ingrese</button>
    <div class="ellipse-container" style="left: 200px">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="153"
        height="145"
        viewBox="0 0 153 145"
        fill="none"
      >
        <ellipse
          cx="76.5"
          cy="72.5"
          rx="76.5"
          ry="72.5"
          class="ellipse-shape"
        />
      </svg>
    </div>
    <img
      src="/assets/ico/ic-recognize.png"
      alt="Recognize Icon"
      class="img-container"
      style="left: 230px"
    />
    <p class="feature-text" style="left: 200px">Reconoce</p>
    <div class="ellipse-container" style="left: 900px">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="153"
        height="145"
        viewBox="0 0 153 145"
        fill="none"
      >
        <ellipse
          cx="76.5"
          cy="72.5"
          rx="76.5"
          ry="72.5"
          class="ellipse-shape"
        />
      </svg>
    </div>
    <img
      src="/assets/ico/ic-alien.png"
      alt="Explore Icon"
      class="img-container"
      style="left: 930px"
    />
    <p class="feature-text" style="left: 920px">Explora</p>
  </div>
  <div class="ellipse-container" style="left: 1550px">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="153"
      height="145"
      viewBox="0 0 153 145"
      fill="none"
    >
      <ellipse cx="76.5" cy="72.5" rx="76.5" ry="72.5" class="ellipse-shape" />
    </svg>
  </div>
  <img
    src="/assets/ico/ic-get-ready.png"
    alt="Recognize Icon"
    class="img-container"
    style="left: 1580px"
  />
  <p class="feature-text" style="left: 1550px">Prepárate</p>
</section>
