.welcome-section {
  width: 100%;
  height: 100%;
}

.background-section {
  position: relative;
  width: 100%;
  height: 100%;
}

.vector-path {
  fill: var(--main_color);
}

.vector-2-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 550px;
}

.vector-2-container svg {
  display: block;
}

.noesis-logo-text-container {
  position: absolute;
  top: -10px;
  left: 50px;
  color: #fff;
  font-family: "Lobster Two", cursive;
  font-size: 70px;
}

.title-text {
  position: absolute;
  top: 200px;
  left: 147px;
  color: #000;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}

.join-button {
  position: absolute;
  top: 350px;
  left: 147px;
  display: inline-flex;
  padding: 5px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--main_color);
  background: var(--gradient_purple);
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}

.join-button:hover {
  background: var(--main_color);
  color: var(--gradient_purple);
}

.login-button {
  position: absolute;
  top: 40px;
  left: 1700px;
  display: inline-flex;
  padding: 13px 31px;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px;
  border: 2px solid var(--gradient_purple);
  background: var(--main_color);
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.login-button:hover {
  background: var(--gradient_purple);
  color: #000;
}

.ellipse-container {
  position: absolute;
  bottom: 180px;
  width: 153px;
  height: 145px;
}

.ellipse-shape {
  fill: var(--gradient_purple);
}

.img-container {
  position: absolute;
  bottom: 205px;
  width: 90px;
  height: 90px;
}

.feature-text {
  position: absolute;
  bottom: 90px;
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
