<section class="welcome-page">
  <div class="hero-section">
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/58bcea5538439fc3c08dc5beaf03bcdc181fe3378b0e6263d8e5c6f7d3e7358d?placeholderIfAbsent=true&apiKey=0f5b1658d860479ca16ec7be0276f12a"
      alt=""
      class="hero-image"
    />
    <header class="header">
      <div class="logo-container">
        <img
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/b0c316a946cb880dc5cab1651caf12c6658a7f89b53dcf17016f445e41655937?placeholderIfAbsent=true&apiKey=0f5b1658d860479ca16ec7be0276f12a"
          alt="Noesis logo"
        />
        Noesis
      </div>
      <button class="login-button">Ingrese</button>
    </header>
    <h1 class="main-title">Desafía tu comprensión!</h1>
    <div class="content-section">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/35a9e5c223cb72bd92523a85dc606e1311cb88db0f7202ebf8a03f694cdc0d01?placeholderIfAbsent=true&apiKey=0f5b1658d860479ca16ec7be0276f12a"
        alt=""
      />
      <div class="content-wrapper">
        <button class="cta-button">Únete a un club ahora!</button>
        <div class="features-container">
          <div class="feature-item">
            <div class="feature-icon-wrapper">
              <div class="feature-icon">
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/0bbfb4215a925c1422e25f4976ef70e8b534d461f0e116911f926e968feaea9f?placeholderIfAbsent=true&apiKey=0f5b1658d860479ca16ec7be0276f12a"
                  alt="Reconoce icon"
                />
              </div>
            </div>
            <p class="feature-text">Reconoce</p>
          </div>
          <div class="feature-item">
            <div class="feature-icon-wrapper">
              <div class="feature-icon">
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/cc66e217368b1c0b4f16d85e016c05f27a6398189cf14dfe3548686fa07978cb?placeholderIfAbsent=true&apiKey=0f5b1658d860479ca16ec7be0276f12a"
                  alt="Explora icon"
                />
              </div>
            </div>
            <p class="feature-text">Explora</p>
          </div>
          <div class="feature-item">
            <div class="feature-icon-wrapper">
              <div class="feature-icon">
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/97e9d4af1e303a196ba5dd29d385a928ddd3111766d221250c9bbc6c61122b52?placeholderIfAbsent=true&apiKey=0f5b1658d860479ca16ec7be0276f12a"
                  alt="Prepárate icon"
                />
              </div>
            </div>
            <p class="feature-text">Prepárate</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
