.dialog-overlay {
  position: fixed; /* Fixes the layer so that it is always on the screen */
  top: 0; /* Aligns the layer at the top of the window */
  left: 0; /* aligns the layer on the left side of the window */
  right: 0; /* Extends the layer to the right edge */
  bottom: 0; /* Extends the layer to the bottom edge */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  display: flex; /* Uses flexbox to centre the dialogue */
  justify-content: center; /* Centres the dialogue horizontally */
  align-items: center; /* Centres the dialogue vertically */
  z-index: 1000; /* Ensures that the layer is on top of other elements */
}

.dialog-content {
  background: white;
  padding: 13px 42px 34px 42px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  gap: 14px;

  display: flex;
  flex-direction: column; /* Aligns items in a column */
  justify-content: center; /* Centres elements vertically */
  align-items: center; /* Centres elements horizontally */
  text-align: center;
}

.dialog-content p {
  color: var(--main_color);
  font-family: Poppins;
  font-size: 23.04px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dialog-content button {
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--main_color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dialog-content button:hover {
  background-color: #581c87;
}
