<div class="purple-container">
  <button class="back-button" (click)="backButtonAction()">
    <img src="assets/ico/ic-back.webp" alt="Back Icon" class="icon" />
    Atrás
  </button>
  <app-ranking-requests [isResource]="true"></app-ranking-requests>
  <app-pdf-viewer [pdfSrc]="readingResourceUrl"></app-pdf-viewer>
  <button class="view-quiz-button" (click)="getQuiz()">
    Ver Quiz
    <img src="assets/ico/ic-ai.webp" alt="AI Icon" class="icon" />
  </button>
</div>
<app-executed-process-dialog
  *ngIf="showDialog"
  [message]="dialogMessage"
  [actionText]="dialogActionText"
  (closeDialog)="closeDialog()"
></app-executed-process-dialog>
