<div class="purple-container">
  <p class="welcoming-text">¡Qué alegría verte de nuevo!</p>
  <button class="create-club-button" (click)="openDialog()">
    Crear club
    <img src="assets/ico/ic-add-club-filled.webp" alt="Add Icon" />
  </button>
  <div class="clubs-container">
    <p class="clubs-text">Explorar clubes</p>
    <app-public-club-list [clubs]="clubList"></app-public-club-list>
  </div>
</div>

<!-- Show the dialogue only if it is open -->
<app-create-club-dialog
  *ngIf="isDialogOpen"
  (close)="closeDialog()"
></app-create-club-dialog>

<app-executed-process-dialog
  *ngIf="showDialog"
  [message]="dialogMessage"
  [actionText]="dialogActionText"
  (closeDialog)="closeExecutedDialog()"
></app-executed-process-dialog>
