/* Font import  */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400;500;600;700&display=swap");

/* Reset CSS */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Global styles */
:root {
  --main_color: #64089c;
  --gradient_purple: #eee1ff;
  --gray_dark: #635353;
  --faded_purple: #d499f84a;
  --pink: #d900d0;
  --deep_violet: #6e27e3;
  --blue: #1804ff;
  --light_blue: #a5e3fe;
  --transparent_red: rgba(234, 27, 27, 0.5);
}

/* Noesis Logo */
.noesis-text-logo {
  position: absolute;
  font-family: "Lobster Two", cursive;
  font-size: 70px;
}

.noesis-text-logo a {
  color: #fff;
  text-decoration: none;
}

.noesis-text-logo a:hover {
  filter: brightness(1.9);
}

.auth-link {
  text-align: center;
  margin-top: 20px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: #7c6c86;
}

.auth-link a {
  font-weight: bold;
  color: #6b21a8;
  text-decoration: none;
}

.auth-link a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Default section */
.default-section {
  width: 100%;
  height: 100%;
}

/* Purple container */
.purple-container {
  position: absolute;
  width: 1639px;
  height: 90.3%;
  margin-top: 90px;
  margin-left: 240px;
  background-color: var(--faded_purple);
  border-top-left-radius: 40px;
}

/* Dialog overlay */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Dialog content */
.dialog-content {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 626px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Dialog h2 */
.dialog-content h2 {
  margin: 0;
  color: var(--main_color);
  font-family: Poppins;
  font-size: 23.04px;
  font-weight: 600;
  text-align: center;
}

/* Dialog form container */
.form-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-field label {
  display: inline-flex; /* Places the content in line */
  align-items: center; /* Aligns vertically the box with the text */
  gap: 8px; /* Space between input and text */
  white-space: nowrap; /* Prevents the text from splitting into several lines */
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Dialog form field - input, textarea */
.form-field input,
.form-field textarea {
  width: 100%;
  max-width: 285px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  font-family: Poppins;
  font-size: 16px;
  color: var(--gray-dark);
}

.form-field input[type="text"] {
  width: 100%;
  max-width: 285px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #000;
  background: #fff;
  font-family: Poppins;
  font-size: 16px;
  color: var(--gray-dark);
}

/* Home page welcoming text */
.welcoming-text {
  font-family: Poppins;
  font-size: 27.65px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--main_color);
  margin-left: 40px;
}

/* Clubs & Explore home create button */
.create-club-button {
  display: flex;
  width: 332px;
  height: 65px;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: Poppins;
  font-size: 23.04px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 40px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(217, 0, 208, 0.89) 0%,
    rgba(100, 8, 156, 0.89) 98.61%
  );
  border: none;
  transition: background-color 0.3s, transform 0.2s;
}

.create-club-button:hover {
  background: linear-gradient(
    90deg,
    rgba(217, 0, 208, 1) 0%,
    rgba(100, 8, 156, 1) 98.61%
  );
  transform: scale(1.05);
}

/* Clubs & Explore home create button icon */
.create-club-button img {
  width: 35px;
  height: 35px;
  margin-left: auto;
}

.clubs-container,
.resources-container {
  width: 1550px;
  height: 72%;
  border-radius: 10px;
  background: #fdfdfd;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
  margin-left: 40px;
  margin-top: 30px;
}

.input-wrapper {
  position: absolute;
  right: 90px;
  top: 230px;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

.input-wrapper input {
  padding-left: 40px;
  border-radius: 5px;
  border: none;
  background: #e8e8e8;
  color: #948282cc;
  width: 300px;
  height: 40px;
  font-family: Poppins;
  font-size: 16px;
}

.clubs-text {
  color: rgba(0, 0, 0, 0.75);
  font-family: Poppins;
  font-size: 23.04px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 30px;
  position: absolute;
  top: 250px;
}

.resources-text {
  color: rgba(0, 0, 0, 0.75);
  font-family: Poppins;
  font-size: 23.04px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 30px;
  position: relative;
  top: 5vh;
}

.back-button {
  display: inline-flex;
  align-items: center;
  font-family: Poppins;
  font-size: 19.2px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--gray_dark);
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-left: 30px;
  margin-top: 30px;
}

.back-button .icon {
  width: 30px;
  height: 30px;
}

.back-button:hover {
  color: var(--pink);
}

/* Error text & Success Text */
.error-text,
.success-text {
  text-align: center;
  margin: 5px 0;
  font-family: Poppins;
  font-size: 14px;
}

/* Error text color */
.error-text {
  color: #ff0000;
}

/* Success text color */
.success-text {
  color: #28a745;
}
