<div class="purple-container">
  <p class="welcoming-text">¡Qué alegría verte de nuevo!</p>
  <button class="create-club-button" (click)="openDialog()">
    Crear club
    <img src="assets/ico/ic-add-club-filled.png" alt="Add Icon" class="icon" />
  </button>
  <div class="clubs-container">
    <div class="input-wrapper">
      <img
        src="assets/ico/ic-search.png"
        alt="Search Icon"
        class="search-icon"
      />
      <input id="search" name="search" type="text" placeholder="Buscar club" />
    </div>
    <p class="clubs-text">Clubs creados</p>
    <div class="carousel-wrapper">
      <div class="carousel" #carousel></div>
    </div>
    <div class="carousel-container">
      <div class="carousel-wrapper">
        <div class="carousel">
          <button class="club-card" *ngFor="let club of visibleClubs">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="239.5"
              height="79.739"
              viewBox="0 0 240 80"
              class="card-svg"
            >
              <path
                d="M132 64.5C77.2 92.1 21.1667 76 0 64.5V0H239.5C226.5 10 186.8 36.9 132 64.5Z"
                fill="var(--rosa, #D900D0)"
              />
            </svg>
            <p class="club-text">Club</p>
            <p class="club-name-text">{{ club.name }}</p>
            <p class="founded-by-text">Fundado por:</p>
            <p class="founded-by-name-text">{{ club.founder }}</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Show the dialogue only if it is open -->
<app-create-club-dialog
  *ngIf="isDialogOpen"
  (close)="closeDialog()"
></app-create-club-dialog>
