<div class="purple-container">
  <p class="welcoming-text">¡Qué alegría verte de nuevo!</p>
  <button class="create-club-button" (click)="openDialog()">
    Crear club
    <img src="assets/ico/ic-add-club-filled.webp" alt="Add Icon" class="icon" />
  </button>
  <div class="clubs-container">
    <div class="input-wrapper">
      <img
        src="assets/ico/ic-search.webp"
        alt="Search Icon"
        class="search-icon"
      />
      <input id="search" name="search" type="text" placeholder="Buscar club" />
    </div>
    <p class="clubs-text">Clubs creados</p>
    <app-club-list
      [color]="'var(--pink)'"
      [top]="'130px'"
      [clubs]="clubsCreated"
      [isFounder]="true"
    ></app-club-list>
    <p class="clubs-text" style="top: 480px">Clubs a los que Perteneces</p>
    <app-club-list
      [color]="'var(--blue)'"
      [top]="'220px'"
      [clubs]="clubsJoined"
      [isFounder]="false"
    ></app-club-list>
  </div>
</div>

<!-- Show the dialogue only if it is open -->
<app-create-club-dialog
  *ngIf="isDialogOpen"
  (close)="closeDialog()"
></app-create-club-dialog>

<app-executed-process-dialog
  *ngIf="showDialog"
  [message]="dialogMessage"
  [actionText]="dialogActionText"
  (closeDialog)="closeExecutedDialog()"
></app-executed-process-dialog>
